/* src/app/components/bottom-modal/bottom-modal.component.css */
.modal-content {
  border-radius: 0;
}

.modal.show .modal-dialog {
  position: absolute;
  bottom: 100%;
  margin: 0;
  width: 100%;
}

.modal-header {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-color: #928F8F !important;
  h4 {
    color: #474747;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }
}

.modal-body {
  padding-left: 50px;
  padding-right: 50px;

  span {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    line-height: 15.23px;
    text-align: center;
    color: #474747;
    padding-top: 20px;
    padding-bottom: 30px;

  }
  button {
    margin-bottom: 20px;
  }
}